<article>
	<md-toolbar color="primary">
    	<span>Holiday Viewer</span>
    
	</md-toolbar>
	<table>
  		<thead>
    		<tr>
      			<th>Date</th>
      			<th>Holiday</th>
    		</tr>
  	</thead>
  	<tbody *ngFor="let details of holidayList">
    	<tr>
      		<td>
      			<strong>{{details.date}}</strong>
      		</td>
      		<td>
      		<md-chip>
      			<a class="MdButtonBase" routerLink="/holiday-details" routerLinkActive="active" (click)="redirectDetails(details)" target="_blank">{{details.name}}</a>
      		</md-chip>
      			
      		</td>
    	</tr>
  	</tbody>
</table>
</article>




